alias ll="ls -la"

# Best keygen options go here
# -o uses bcrypt for key derivation
# -a is number of rounds
# see https://blog.g3rt.nl/upgrade-your-ssh-keys.html
alias keygen-secure="ssh-keygen -t ed25519 -a 100 -o"

# Fallback to RSA for those that can't handle elliptic curves
alias keygen-rsa="ssh-keygen -o -b 4096"
# Fall even further back if bcrypt key derivation is not supported
alias keygen-rsa-low="ssh-keygen -b 4096"

# ssh without host verification for one-off connections to ephemeral hosts
alias ssh-no-verify="ssh -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no"

alias import-gpg-key-emil-master="curl https://emil.lerch.org/3125C87C.asc | gpg --import"

# If gpg2 < version 2.2.0 is installed, we can alias it
hash gpg2 2>/dev/null && alias gpg=gpg2

# Always use less if available
hash less 2>/dev/null && \
  alias more=less

# Always prefer vim over vi (if available)
hash vim 2>/dev/null && alias vi=vim
# Always prefer nvim over vim (if available)
if hash nvim 2>/dev/null; then
  alias vi=nvim
  alias vim=nvim
  # Setup nvim init to reference vimrc if file doesn't exist
  [ ! -r $HOME/.config/nvim/init.vim ] && \
    mkdir -p $HOME/.config/nvim && \
    echo 'set runtimepath^=~/.vim runtimepath+=~/.vim/after
let &packpath = &runtimepath
source ~/.vimrc' > $HOME/.config/nvim/init.vim
fi

# Outside AWS this is much trickier, so functions are required (see .functions)
alias create-repo-aws="aws --region us-west-2 codecommit create-repository --repository-name"

# I like to keep all AWS stuff namespaced similarly, but create-repo-* is nice
# too
alias aws-create-repo=create-repo-aws
alias aws-new-cfntemplate="curl -L https://gist.githubusercontent.com/elerch/a8303c92638bce72e6fedd5c8848e140/raw/ab1d6c38127c7c12d9f32917edc2f797e35305af/cloudformation-template-shell.yaml -o "
alias aws-profiles='cat ~/.aws/config |grep -F "[profile" |cut -d \  -f2 |cut -d \] -f1'

# Setup aliases for all profiles in AWS config
if [ -r ~/.aws/config ]; then
  for profile in $(cat ~/.aws/config |grep -F "[profile" |cut -d \  -f2 |cut -d \] -f1); do
    alias aws-profile-${profile}="export AWS_DEFAULT_PROFILE=$profile"
  done
  alias aws-default-profile="unset AWS_DEFAULT_PROFILE"
fi

[ -r $HOME/.zsh-autosuggestions/zsh-autosuggestions.zsh ] && \
  alias zsh-autosuggestions="source $HOME/.zsh-autosuggestions/zsh-autosuggestions.zsh"

alias restart-gpg-agent='pkill -U $USER gpg-agent; eval $(gpg-agent --daemon --enable-ssh-support)'

